.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-people {
  display: flex;
  justify-content: center;
}

.App-card {
  background-color: grey;
  width: 300px;
  padding: 20px;
}
